body {
	min-height:550px;
}
.container{
	width: 600px;
}
.pics{
	width: 500px;
	/*background-color: #ff0000;*/
	padding: 0;
	margin-bottom: 40px;
}

.pic{
	width: 500px;
	padding: 0;
	margin-top:50px;
}

.pic img{
	width: 500px;
	margin-bottom: 16px;
	border: 2px solid #eee;
}

.progress{
	margin-top:4px;
}

#copy_message{
	display: none;
	position: fixed;
	top:0;
	width: 250px;
	height: 46px;
	padding-top: 12px;
	text-align: center;
	margin: auto;
	left:0;
	right:0;
	z-index: 99999;
}

#help_message{
	font-size: 44px;
	color: #bbb;
	display: block;
	margin-top: 100px;
}

.setting{
	text-align: right;
	float: right;
	margin: 6px 10px 10px 10px;
}
.form-control{
	width:90%;
}
#verify_qiniu_message{
	display: none;
	margin-bottom: 0;
	width:90%;
}
.modal-footer{
	margin-top: 0;
}
.modal{
	overflow-y:visible;
}